body{
  background-color: #DAEAF1;
}
a{
  font-size:20px;
}
h1{
  color:#243A73;
}

h3{
  color:#243A73;
}

hr{
   background-color: #DAEAF1;
   border-style: none;
   border-top-style: dotted;
   border-color: gray;
   border-width: 5px;
   width: 3%;
}


